:root {
    --clr-white: #fff;
    --clr-orange: #ff7d44;
    --clr-black: #000000de;
    --clr-darkblue: #182f43;
    --clr-mirrorblack: #0000004d;
    --clr-gray: #3a3a3a80;
    --clr-fakewhite: #fff;
    --clr-grblack: #00000061;
  }
  
  .dark {
    --clr-black: #fff;
    --clr-orange: #dc780b;
    --clr-gray: #fff;
    --clr-darkblue: #fff;
    --clr-mirrorblack: #000;
    --clr-gray: #000;
    --clr-fakewhite: #000;
    --clr-grblack: #fff;
  }
  